body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    font-family: Arial, sans-serif;
}

.contenedor {
    text-align: center;
    width: 90%;
    max-width: 600px;

    border: 4px solid #008f39;
    border-radius: 20px;

    padding: 30px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #d90429;
    font-size: 35px;
}

p {
    color: #008f39;
    font-size: 20px;
}

input {
    width: 80%;
    max-width: 300px;

    padding: 12px;

    border: 2px solid #d90429;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;

    outline: none;
}

input:focus {
    border-color: #008f39;
}

button {
    display: block;

    margin: 15px auto;

    padding: 12px 30px;

    border: none;
    border-radius: 10px;

    background: #d90429;
    color: white;

    font-size: 18px;

    cursor: pointer;
}

button:hover {
    background: #008f39;
}

#corazon {
    margin-top: 30px;

    font-family: monospace;
    font-weight: bold;

    font-size: 25px;
    line-height: 0.9;

    color: #d90429;

    white-space: pre;
}

#mensaje {
    margin-top: 30px;

    font-size: 22px;
    font-weight: bold;

    color: #008f39;
}